This is {{foo}}.

{{ it.user.name }}

{{ if !it.user }}
  No user found! {{foo}} None!
{{ else if !it.user.name }}
  The user doesn't have a name.
{{ else }}
  x{{ it.user.name }} The user is .
{{ /if }}
